
body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: #267365;
}

html{

    background-color: #267365;
}

.auth-container {
width: 100%;
max-width: 400px;
padding: 40px;
background-color: #267365;
border: 1px solid #dee2e6;
box-sizing: border-box;
border-radius: 0;
text-align: center;
}
.auth-container h2 {
margin-bottom: 30px;
color: #212529;
font-family: Arial;
}
.auth-container input {
width: 100%;
padding: 10px 12px;
margin-bottom: 20px;
border: 1px solid #267365;
border-radius: 0;
box-sizing: border-box;
font-size: 14px;
}
.auth-container button {
width: 100%;
padding: 10px;
border: 1px solid #0d6efd;
background-color: #0d6efd;
color: #fff;
font-weight: bold;
cursor: pointer;
border-radius: 0;
font-size: 14px;
}
.auth-container button:hover {
background-color: #0b5ed7;
border-color: #0a58ca;
}
.auth-footer {
margin-top: 15px;
font-size: 13px;
}
.auth-footer a {
color: #0d6efd;
text-decoration: none;
}
